.pytest_cache/
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/


notebooks/Option_Analysis.ipynb
notebooks/*.csv
notebooks/Option_Analysis.ipynb
options-pricing-library/notebooks/*.csv
options-pricing-library/notebooks/Option_Analysis.ipynb
